/*! base css start*/
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! base css end*/

body {
  font-family: Electrolize;
}

.container {
  background-color: black;
  color: white;
}

/*! start nav bar css*/

.navbar {
  background-color: #000;
  height: 60px;
  color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  color: rgb(255, 70, 70);
  font-size: 30px;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 30px;
  align-items: center;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
}
.menu-list-item:hover {
  cursor: pointer;
  font-weight: bold;
}
.menu-list-item.active {
  cursor: pointer;
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1;
}

.toggle {
  width: 40px;
  background-color: white;
  position: relative;
  height: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}
/*! end navbar css*/

/*! start sidebar  css*/

.sidebar {
  background-color: #000;
  height: 100%;
  color: whitesmoke;
  width: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  row-gap: 40px;
  align-items: center;
  position: fixed;
  top: 0;
}

.sidebar i {
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
}

/*! end sidebar  css*/

/* ! featured start */
.content-wrapper {
  margin-left: 50px;
}
.featured-content {
  background: url(img/spiderman.jpg);
  padding: 50px;
  height: calc(100vh - 60px);
  background-size: 100%;
}

.featured-title {
  width: 400px;
}

.featured-desc {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 30px 0;
  color: black;
}

.featured-buttons {
  display: flex;
  column-gap: 20px;
}

.featured-buttons button {
  padding: 10px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.featured-buttons .info-button {
  background-color: rgba(145, 142, 142, 0.5);
  color: white;
}

/* ! featured end */

/* ! filter start */

.movie-list-filter {
  margin: 20px 0 20px 50px;
  padding: 20px;
}
.movie-list-wrapper {
  overflow: hidden;
}
.movie-list-filter select {
  background-color: black;
  color: white;
  padding: 7px 0;
  width: 125px;
  border-radius: 10px;
}
/* ! filter end */

.movie-list-container {
  margin-left: 70px;
}
.movie-list {
  list-style: none;
  padding: 0;
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.movie-item {
  position: relative;
}
.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
  opacity: 1;
}

.movie-item:hover .movie-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-item-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: 1s all ease-in-out;
}

.movie-item-title {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-item-buttons {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50px;
  display: flex;
  column-gap: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-item-buttons i {
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s all ease;

  opacity: 0.5;
}
.movie-item-buttons i:hover {
  opacity: 1;
}
